########## Test #############


########## Gradle ##########
.gradle
build/

########## Eclipse ##########
.settings
.project
.classpath
.springBeans
bin

########## IDEA ##########

# Ignore IDEA build directory
out/

# Ignore IDEA project files
*.iml
*.ipr
*.iws

# Ignore all in .idea directory
.idea/*

# Don't ignore non environment-specific configs
!.idea/codeStyles/
!.idea/encodings.xml

#Artifacts

*.class
*.war

#Git merge original files
*.orig

########## Nodejs ##########
node_modules
debug.log

########## Lombok ##########
lombok.config


########## local-application.properties ######
local-application.properties
